* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  background-color: hsl(210deg, 60%, 98%);
}

p {
  font-size: 1.6rem;
}

ul,
li {
  list-style: none;
}

.noti {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.1);
  max-width: 70rem;
  margin: 10rem auto 0;
  padding: 0 2rem 1rem;
}
.noti-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.noti-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}
.noti-brand--text {
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: capitalize;
}
.noti-brand--count {
  background-color: hsl(219deg, 85%, 26%);
  border-radius: 0.5rem;
  color: hsl(0deg, 0%, 100%);
  font-weight: 800;
  padding: 0.1rem 1rem;
}
.noti-markread {
  background: none;
  border: none;
  color: hsl(219deg, 12%, 42%);
  font-size: 1.6rem;
  text-transform: capitalize;
}
.noti-markread:hover {
  cursor: pointer;
}
.noti-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}
.noti-box {
  display: grid;
  border-radius: 0.8rem;
  grid-template-columns: 1fr 9fr;
  grid-column-gap: 1rem;
  padding: 1rem 2rem;
}
.noti-box[data-read=false] {
  background-color: hsl(210deg, 60%, 98%);
}
.noti-box[data-read=false] .noti-remarks::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: hsl(1deg, 90%, 64%);
  transform: translateY(-40%);
}
.noti-box:has(.noti-image) {
  grid-template-columns: 1fr 8fr 1fr;
}
.noti-avatar {
  grid-row: 1/span 2;
  width: 70%;
  height: auto;
  align-self: start;
  justify-self: center;
}
.noti-details {
  font-size: 1.5rem;
}
.noti-details span:not(:last-child) {
  margin-right: 0.6rem;
}
.noti-name, .noti-remarks {
  font-weight: 800;
}
.noti-activity {
  color: #777;
}
.noti-remarks {
  position: relative;
}
.noti-remarks[data-type=post] {
  color: hsl(219deg, 12%, 42%);
}
.noti-remarks[data-type=group] {
  color: hsl(219deg, 85%, 26%);
}
.noti-time {
  font-size: 1.6rem;
  color: hsl(219deg, 14%, 63%);
}
.noti-section {
  border: 1px solid rgba(147, 157, 174, 0.5);
  border-radius: 0.5rem;
  color: hsl(219deg, 12%, 42%);
  font-size: 1.6rem;
  grid-column-start: 2;
  line-height: 1.5;
  margin: 1rem 0;
  padding: 2rem;
}
.noti-image {
  grid-column-start: 3;
  grid-row: 1/span 2;
  width: 70%;
  height: auto;
  justify-self: end;
}

@media (max-width: 30em) {
  html {
    font-size: 56.25%;
  }
  .noti {
    margin-top: 0;
  }
}