// Sizes
$mobile: 375px;
$desktop: 1440px;

// Colors
$white: hsl(0, 0%, 100%);
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);
$blue-dark: hsl(224, 21%, 14%);
$bluegray-lightest: hsl(210, 60%, 98%);
$bluegray-light1: hsl(211, 68%, 94%);
$bluegray-light2: hsl(205, 33%, 90%);
$bluegray: hsl(219, 14%, 63%);
$bluegray-dark: hsl(219, 12%, 42%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    background-color: $bluegray-lightest;
}

p {
    font-size: 1.6rem;
}

ul,
li {
    list-style: none;
}

.noti {
    background-color: $white;
    border-radius: 1rem;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.1);
    max-width: 70rem;
    margin: 10rem auto 0;
    padding: 0 2rem 1rem;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 0;
    }

    &-brand {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.2rem;

        &--text {
            font-size: 2.4rem;
            font-weight: 800;
            text-transform: capitalize;
        }

        &--count {
            background-color: $blue;
            border-radius: 0.5rem;
            color: $white;
            font-weight: 800;
            padding: 0.1rem 1rem;
        }
    }

    &-markread {
        background: none;
        border: none;
        color: $bluegray-dark;
        font-size: 1.6rem;
        text-transform: capitalize;

        &:hover {
            cursor: pointer;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
    }

    &-box {
        display: grid;
        border-radius: 0.8rem;
        grid-template-columns: 1fr 9fr;
        grid-column-gap: 2rem;
        padding: 1rem 2rem;

        &[data-read="false"] {
            background-color: $bluegray-lightest;
            & .noti-remarks::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -1.5rem;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: $red;
                transform: translateY(-40%);
            }
        }
    }

    &-avatar {
        grid-row: 1 / span 2;
        width: 70%;
        height: auto;
        align-self: start;
        justify-self: center;
    }

    &-details {
        font-size: 1.5rem;

        & span:not(:last-child) {
            margin-right: 0.6rem;
        }
    }

    &-name,
    &-remarks {
        font-weight: 800;
    }

    &-activity {
        color: #777;
    }

    &-remarks {
        position: relative;

        &[data-type="post"] {
            color: $bluegray-dark;
        }

        &[data-type="group"] {
            color: $blue;
        }

        &[data-type="image"] {
            color: #777;

            & img {
                width: 4rem;
                height: 4rem;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &-time {
        font-size: 1.6rem;
        color: $bluegray;
    }

    &-section {
        border: 1px solid rgba($bluegray, 0.5);
        border-radius: 0.5rem;
        color: $bluegray-dark;
        font-size: 1.6rem;
        grid-column-start: 2;
        line-height: 1.5;
        margin: 1rem 0;
        padding: 2rem;
    }
}
